@charset "utf-8";

.warp{ width: 100%; font-family: "microsoft yahei";}

.header{ height: 450px; width: 100%; background-color: #E78170; color: #fff;}
.topBarBox{ width: 100%;position: fixed; background-color: #E78170;}
.topBar{ height: 50px; line-height: 50px; overflow: hidden; width: 1000px; margin: 0 auto;}
.topBar .logo{ font-size: 30px; font-weight: bold; width: 200px; float: left; text-align: left;}
.topBar .about{ font-size: 14px; width: 250px; float: right; text-align: right;}
.topBar .about a{ color: #fff; padding: 0 20px;}

.bannerWord{width: 1000px; margin: 0 auto; text-align: center;  padding-top: 60px;}
.bannerWord .logoTitle{ font-size: 70px;  font-weight: bold; margin: 10px auto;}
.subScribe{ font-size: 20px; margin: 10px auto;}
.bannerWord .btn{ font-size: 16px; width: 100px; border:2px solid rgba(255, 255, 255, 0.62); border-radius: 2px;
 cursor: pointer; margin: 10px auto; margin-top: 40px; padding: 10px 0;}
 .bannerWord .btn:hover{ border-color: #fff; }

.list{ width: 1000px; margin: 0 auto; margin-top: -71px; }
.title{ text-align: center; font-size: 24px; padding: 20px 0; color: #fff; font-weight: bold; background-color: #525252;}
.list ul{ width: 998px; padding: 50px 0; border:1px solid #eee;}
.list li{ width: 90%; margin: 10px auto; height: 50px; line-height: 50px; padding: 0 10px; font-size: 16px; text-align: right; overflow: hidden; 
	border-left: 4px solid #f57e42; background-color: #eee; color: #B9B7B7;}
.list li a{ float: left; color: #555555;}
.list li a:hover{ color: #f57e42;}