@charset "utf-8";

.foucspic {
    width: 100%;
    height: auto;
}

.foucspic .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #efefef;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.foucspic .swiper-slide img{ width: 100%;}